*{
  margin: 0;
}

/* HEADER */
header{
  height: 175px;
  background-color: rgb(78, 160, 255);
  background-image: url("../img/pattern.png");
}

#logo{
  height: 80px;
  margin-left: 10px;
  margin-top: 80px;
}
/* --------- */

/* STILI DI OGNI SEZIONE NEL MAIN */
section{
  margin-top: 20px;
  margin-left: 10px;
}
/* STILI DI OGNI SEZIONE NEL MAIN */

/* TITOLO */
h1{
  font-size: 56px;
}

.titolo span{
  color: gray;
}

.autore{
  font-size: 18px;
}

.autore span{
  color: rgb(32, 169, 229);
}
/* --------- */

/* IMMAGINI INIZIALI */
.immagini-copertina img{
  height: 500px;
}

.descrizione-foto{
  font-size: 14px;
}
/* --------- */

/* CORPO DEL TESTO */
