*{
  margin: 0;
}

/* HEADER */
header{
  height: 175px;
  background-color: rgb(78, 160, 255);
  background-image: url("../img/pattern.png");
}

#logo{
  height: 80px;
  margin-left: 10px;
  margin-top: 80px;
}
/* --------- */

/* TITOLO */
.titolo{
  margin-top: 20px;
  margin-left: 10px;
}

h1{
  font-size: 56px;
}

.titolo span{
  color: gray;
}

.autore{
  font-size: 18px;
}

.autore span{
  color: rgb(32, 169, 229);
}
/* --------- */